
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://github.com/app-generator/flask-material-dashboard">
                  Sources
                </a>
              </li>
              <li>
                <a href="https://blog.appseed.us/material-dashboard-open-source-flask-dashboard">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://appseed.us/apps/flask-apps">
                  Flask Apps
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Beegol
          </div>
        </div>
      </footer>

